!!! 5
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css', type='text/css')
    title Hello World from Node.js
  body
    div#topPan
      p Hello from the World of Node.js
      div#topContactPan
      div#topMenuPan
    div#bodyPan
      div#bodyLeftPan
        != body
      div#bodyRightPan
        h2 
          span constructed 
          | with
        ul
          li 
            a(href='http://www.nodejs.org') Node.JS
          li 
            a(href='http://www.expressjs.com') Express
          li 
            a(href='http://everyauth.com') everyauth
          li 
            a(href='http://mongodb.org') MongoDB
    div#footermainPan
      div#footerPan


