- if (req.loggedIn)
    h2 
      span hello 
      | #{req.user.name}
    p You <span>are</span> authenticated!
    if (req.user.languages == null)
        p You have no languages registerd.  Please use the <span>Settings</span> option to set them.
    else
        p Show questions here??!?
- else
    h2 
      span hello 
      | Anonymous
    p You are <span>not</span> authenticated
    ul
      li
        a(href="/auth/openid") Authenticate

